<HTML><HEAD>
	<SCRIPT>var isomorphicDir="../isomorphic/";</SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Core.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Foundation.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Containers.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Grids.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_Forms.js></SCRIPT>
    <SCRIPT SRC=../isomorphic/system/modules/ISC_DataBinding.js></SCRIPT>
	<SCRIPT SRC=../isomorphic/skins/TreeFrog/load_skin.js></SCRIPT>
</HEAD><BODY>
<SCRIPT>


	isc.Button.create({
		ID:"velBtn",
		title:"Click Me Idiot !",
		width:300,
		click: function(){
			isc.warn('Congratulations for your first button created . ');
		}	
	});
	
	
	isc.ListGrid.create({
		ID:"vel_listgrid",
		top:100,
		left:100,
		width:300,
		alternateRecordStyles:true,
		showFilterEditor: true,
		filterOnKeypress: true,
		fetchDelay: 500, 
		autoFetchData: true,
		fields:[
			{
			name:"firstName",
			title:"First Name"
			},
			{
			name:"lastName",
			title:"Last Name"
			},
			{
			name:"middleName",
			title:"Middle Name"
			}
		],
		data:[
			{
			firstName:"Velmurugan",
			lastName:"Velayutham",
			middleName:"S"
			},
			{
			firstName:"Rohini",
			lastName:"Rajagopal",
			middleName:"R"
			},
			{
			firstName:"Preethi",
			lastName:"Infant",
			middleName:"P"
			},
			{
			firstName:"Velmurugan",
			lastName:"Velayutham",
			middleName:"S"
			},
			{
			firstName:"Rohini",
			lastName:"Rajagopal",
			middleName:"R"
			},
			{
			firstName:"Preethi",
			lastName:"Infant",
			middleName:"P"
			}	
		],
		canEdit: true,
	    editEvent: "click"
	
	});
	
	
	isc.DynamicForm.create({
	ID:"vel_dynamicForm",
	title:"Registration Form",
	top:300,
	left:300,
	width:400,
	fields:[
		{
		name:"username", 
		title:"User Name"
		},
		{
		name:  "password",
		title:"Password"
		},
		{
		name:"email",
		title:"Email ID"
		},
		{
		name:"birthday",
		title:"Birthday",
		editorType:"date"
		},
		{
		name:"employed",
		title:"Are you married ?",
		editorType:"checkbox"
		},
		{
		name:"description",
		title:"Write about yourself ? ",
		editorType:"textArea"
		}
	
	],
	autoDraw:false
	});
	
	


</SCRIPT>
</BODY></HTML>
