<html>
<body>

<h3>Welcome ${email}. </h3>
<br>
<p>You registration with <b>certifier </b> is a click away.</p>
<br>
<hr>
<a href="${confirmURL}"> <h2> Confirm Email <h2> </a>
<hr>

<br>
<br>
Thanks
Certifier Team.

</body>
</html>